.ak-currencies__button {
    height: 5vh;
    text-align: right;
}
.ak-currencies__datepickers {
    display: flex;
    height: 10vh;
    max-width: 500px;
    margin-left: auto;
}
.ak-currencies__datepickers-item {
    flex: 1 1 50%;
}

.ak-button {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    outline: none;
}

.ak-button:active {
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
    outline: none;
}
.ak-button:hover {
    background-color: green;
    outline: none;
}
.ak-currencies__graph {
    margin-top: 20px;
    padding: 10px;
    background-color: #515151;
    border-radius: 10px;
}