.ak-converter-input__container {
    display: flex;
    padding: 25px 0 10px 0;
    color: #ddd;
    font-size: 20px;
}
.ak-converter-input__title {
    min-width: 100px;
    padding-right: 10px;
}
.ak-converter-input__amount {
    flex: 1 1 200px;
    height: 30px;
    padding: 0 0 0 8px;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    background-color: #515151;
    vertical-align: middle;
    color: #ddd;
    font-size: 20px;
}
.ak-converter-input__amount:focus {
    background-color: #ddd;
    outline: none;
    color: #292929;
}
.ak-converter-input__amount::placeholder {
    color: #ddd;
}
.ak-converter-input__currency {
    height: 30px;
    width: 100px;
    padding: 0 0 0 8px;
    border: 1px solid #ddd;
    border-radius: 0 10px 10px 0;
    background-color: #515151;
    vertical-align: middle;
    color: #ddd;
    font-size: 20px;
}
.ak-converter-input__currency:focus {
    background-color: #ddd;
    outline: none;
    color: #292929;
}
.ak-converter-input__currency::placeholder {
    color: #ddd;
}